# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

OLD

# dependencies
node_modules/
.pnpm-store/
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/libro/contracts/out/
/libro/contracts/cache/
/libro/contracts/broadcast/
/libro/chrome-extension/dist/
/libro/chrome-extension/dist-stage/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.env
.gstack/
